html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.profile .wrapper {
    padding: 100px 40px 0px;
    max-width: 600px;
    margin: 0 auto;
}

.profile .header {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

.profile .avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h1 {
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 3em;
    color: #222;
}

.profile h2 {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    margin-top: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}

.highlight {
    color: #EB298C;
}

.wrapper.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
}

ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.post-list li {
    list-style-type: none;
    margin-bottom: 20px;
    list-style-position: inside;
    font: bold 19px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
}

.post-list li + li {
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.post-list li:last-child {
    /*margin-bottom: 0;*/
}

.post-list a {
    color: #333;
    font: bold 19px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-list a:hover {
    text-decoration: none;
    color: #4576c0;
}

.post-list .date {
    float: right;
    position: relative;
    top: 1px;
    font: 300 17px/1.8 "Helvetica Neue", helvetica, Arial, sans-serif;
    color: #bbb;
}

ul.post-list {
    margin-top: 100px;
}

.wrapper.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
}

.post-nav {
    border-top: 1px solid #eee;
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 25px;
}
